@keyframes scale-y {
    from{
        opacity: 1;
        transform: scaleY(0);
    }
    to{
        opacity: 1;
        transform: scaleY(1);
    }
}
@-webkit-keyframes scale-y {
    from{
        opacity: 1;
        -webkit-transform: scaleY(0);
    }
    to{
        opacity: 1;
        -webkit-transform: scaleY(1);
    }
}
@keyframes fly-from-far {
    0%{
        opacity: 1;
        transform: scale(300);
    }
    60%{
        transform: scale(.8);
    }
    70%{
        transform: scale(1.2);
    }
    80%{
        transform: scale(.9);
    }
    90%{
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes jump-from-bottom {
    0%{
        opacity: 1;
        transform: translateY(300%);
    }
    60%{
        transform: translateY(-5%);
    }
    70%{
        transform: translateY(3%);
    }
    80%{
        transform: translateY(-3%);
    }
    90%{
        transform: translateY(1%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes beating {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes rotating {
    from{
        opacity: 1;
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(360deg);
        opacity: 1;
    }
}
@keyframes slide-down {
    0%{
        opacity: 1;
        transform: translateY(-300%);
    }
    60%{
        transform: translateY(5%);
    }
    70%{
        transform: translateY(-3%);
    }
    80%{
        transform: translateY(3%);
    }
    90%{
        transform: translateY(-1%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes jump-left-80 {
    0%{
        transform: scaleY(.92) rotateZ(0);
    }
    100%{
        transform: scaleY(1) rotateZ(-80deg);
    }
}
@keyframes jump-right-80 {
    0%{
        transform: scaleY(.92) rotateZ(0);
    }
    100%{
        transform: scaleY(1) rotateZ(80deg);
    }
}
@keyframes jump-left-60 {
    0%{
        transform: scaleY(.92) rotateZ(0);
    }
    100%{
        transform: scaleY(1) rotateZ(-60deg);
    }
}
@keyframes jump-right-60 {
    0%{
        transform: scaleY(.92) rotateZ(0);
    }
    100%{
        transform: scaleY(1) rotateZ(60deg);
    }
}
@keyframes jump-left-30 {
    0%{
        transform: scaleY(.92) rotateZ(0);
    }
    100%{
        transform: scaleY(1) rotateZ(-30deg);
    }
}
@keyframes jump-right-30 {
    0%{
        transform: scaleY(.92) rotateZ(0);
    }
    100%{
        transform: scaleY(1) rotateZ(30deg);
    }
}